<!DOCTYPE html>
<html>
<head>
    <title>New nametag | Nametag Printer {{.Version}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
	<style type="text/css">
		body {
			font-family: 'Open Sans', serif;
		}
		article header {
			margin-bottom: 2em;
			margin-top: 2em;
		}
	</style>
</head>
<body>
	<main class="container">
		<article>
			<header class="row">
				<h1 class="col-xs-12">New nametag</h1>
			</header>
			<section class="row">
				
			</section>
		</article>
	</main>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
